body {
    font-family: Arial, sans-serif;
    background-color: #131b27;
    margin: 0;
    padding: 0;
    color: white;
    color-scheme: dark;
}

::selection {
    background-color: #1877f2; 
    color: white; 
}

video {
  max-width: 100%;
}
img {
    max-width: 20%;
}

a {
    color: #1877f2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a:active {
    color: #1877f2;
}

#trinity {
    background-color: #1877f2;
    border: 1px solid #1877f2;
    border-radius: 8px;
    color: white;
    padding: 10px;
    font-size: 15px;
    max-width: 250px;
    margin: 10px auto;

}

#helloworld {
    max-width: 300px;
    background-color: #212836;
    border: 1px solid #272727;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    z-index: 1;
    top: 20px;
}


#excempta{
    background-color: #1877f2;
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.creditbar {
    width: 100%;
    background-color: #1877f2;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 15px;
}

#messages {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    background-color: #212836;
    border: 1px solid #272727;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}

#frlist {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    background-color: #212836;
    border: 1px solid #272727;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}

#superbar {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    background-color: #212836;
    border: 1px solid #272727;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


#head {
    background-color: #1877f2;
    color: white;
    font-size: 24px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 1px solid #272727;
}
#headl{
    margin-left: 15px;
}

#message, #reciever {
    width: 100%;
    color: white;
    padding: 12px;
    max-width: 800px;
    max-height: 50px;
    border: 1px solid #272727;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    resize: none;
    background-color: #272727;
}

#new_bio {
    padding: 12px;
    max-width: 750px;
    max-height: 50px;
    border: 1px solid #272727;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 6px auto 16px auto;
    resize: none;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #272727;
    color: white
}
#new_pfp {
    padding: 12px;
    max-width: 750px;
    max-height: 50px;
    border: 1px solid #272727;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 6px auto 16px auto;
    resize: none;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #272727;
    color: white;
}
.message .user {
    font-weight: bold;
    color: #1877f2;
}

.message .timestamp {
    color: white;
    font-size: 12px;
}

.message .content {
    margin-top: 8px;
}

#searchbar {
    text-align: center;
}

#searchform {
    display: inline-block;
}

#searchbut {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #272727;
    border-radius: 5px;
    background-color: #212836;
    color: white;
}

#searchbut::placeholder {
    color: #aaa;
}

button {
    padding: 10px;
    background-color: #1877f2; 
    color: white;
    border: none;
    border-radius: 5px !important;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #115293; 
}

.cbutton { 
    padding: 10px;
    background-color: #1877f2; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    display: inline-block;
}

.cbutton:hover {
    background-color: #115293; 
}


.fa-search {
    font-size: 18px;
    color: white; 
}

.dropbtn {
  background-color: #1877f2;
  color: white;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

#mimicbutn {
  background-color: #1877f2;
  color: white !important;
  padding: 0 12px;
  font-size: 16px;
  border-radius: 5px !important;
  border: none;
  height: 36px !important;
  cursor: pointer;
  transition: background-color 0.3s;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}


#mimicbutn:hover {
  background-color: #115293;
  color: white;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #115293;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #1877f2;
  overflow: hidden;
  border-radius: 5px !important;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(-40px);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-content.show {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}


.dropdown-content a {
  display: inline-block;
  padding: 8px 12px;
  text-decoration: none;
  color: black;
}

.dropdown-content a:hover {
  background-color: #115293;
}