# dont delete this unless you want peoples data to be leaked which is like pretty poor of you to do.

<Files "*.json">
    Require all denied
</Files>
<Directory "/pfp/">
    Order Allow,Deny
    Deny from all
</Directory>
