# dont delete this unless you want peoples data to be leaked which is like pretty poor of you to do.

<Files "*.json">
    Require all denied
</Files>
<Directory "/pfp/">
    Order Allow,Deny
    Deny from all
</Directory>
php_value date.timezone UTC

RewriteEngine On
RewriteRule ^messages/view-([0-9]+)\.php$ /messages/spmessages.php?id=$1 [L]
